// knob
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
// general
.defs {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.envelope {
    margin: 0 auto 20px;
}
// FL studio knobs 
$envelope-knob-size: 80px;
$tension-knob-size: 60px;
.fls-envelope {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    padding: .5rem 1rem;
    overflow: hidden;
    background: #363c40;
    border: 2px solid #272d31;
    box-shadow: 0 10px 70px rgba(#000000, 0.6);
    transform: translate(-50%, -50%) scale(.75);

    @media (min-width:768px) {
        width: 600px;
    }
}
.fls-e_visualizer {
    height: 150px;
    background: #21272b;
    border: 2px solid #191f23;
    .envelope-visualizer {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
}
.fls-e_controls, .fls-e_tension {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fls-e_controls {
    padding: .5rem 0 0;
}
.fls-e_control {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fls-e_label {
    flex: 0 0 auto;
    display: inline-block;
    padding: 10px 0;
    width: $envelope-knob-size;
    color: #c1c5c5;
    font-size: 10px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
// FL studio knobs - control styles
.fls-e_knob {
    flex: 0 0 auto;
    &.envelope-knob {
        width: $envelope-knob-size;
        height: $envelope-knob-size;
    }
    &.tension-knob {
        padding: ($envelope-knob-size - $tension-knob-size)/2;
        width: $envelope-knob-size;
        height: $envelope-knob-size;
    }
    .knob-input_visual {
        overflow: visible;
    }
    .dial {
        transform-origin: 20px 20px;
        transition: all 600ms $easeOutSine;
    }
    .dial-highlight {
        opacity: 0;
        transition: all 300ms $easeOutSine;
    }
    &:hover, &.drag-active {
        .dial {
            transform: scale(0.9);
            filter: brightness(10.2);
            transition: all 300ms $easeOutSine;
        }
        .dial-highlight {
            opacity: 0.05;
        }
    }
    .focus-indicator {
        opacity: 0;
        transition: all 300ms $easeOutSine;
    }
    &.focus-active {
        .focus-indicator {
            opacity: 0.8;
        }
    }
}
// Control Knob component styles
.knob-input {
    position: relative;
}
.knob-input_visual {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.knob-input_input {
    cursor: grab;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate(-90deg);
}
body.knob-input_drag-active {
    &, * {
        cursor: grabbing !important;
    }
}