/* Variables */

$synth-white: #FFFFFF;
$synth-dk-grey: #363c40;
/* Imports */

@import "styles/keys.scss";
@import "styles/envelope.scss";
/* Global Synth Styles */

.js-synth {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: auto;
    background: linear-gradient(rgba(16, 133, 157, 1) 25%, rgba(9, 9, 121, 1) 65%, rgba(2, 0, 36, 1) 100%);
    padding: 10px;
    color: $synth-white;
    font-family: courier;
    .border {
        width: 100%;
        height: 100%;
        border: 1px solid grey;
        padding: .5rem;
    }
    .title {
        font-size: 2em;
    }
    .label {
        font-size: 1.1em;
        position: relative;
        z-index: 1;
    }
    .osc {
        .toggle {
            float: right;
        }
    }
    .input-group {
        font-size: 1em;
        .input-group-text {
            color: inherit;
            background-color: transparent;
            border: none;
        }
        input {
            height: 2em;
            width: 3.5em;
            max-width: 3.5em;
            padding: 5px;
            text-align: center;
        }
    }
    .input-group select.custom-select {
        color: inherit;
        background-color: $synth-dk-grey;
        appearance: menulist; // Make sure caret still shows white
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
        height: 28px;
        margin-top: 5px;
        padding: 0 10px;
    }
    p {
        margin-bottom: .5rem;
    }

    /* Range Sliders */
    .sliders {
    padding: .5em
    }
    .slider {
        position: relative;
        width: 100%;
        height: 1em;
        margin: 0 auto;
        padding-left: 50%;
        background-color: #29e;
        border-radius: 0.5em;
        box-sizing: border-box;
        font-size: 1em;
        -ms-touch-action: none;
        touch-action: none;
    }
    /* the slider handle */
    .slider:before {
        content: "";
        display: block;
        position: relative;
        top: -0.5em;
        width: 2em;
        height: 2em;
        margin-left: -1em;
        border: solid 0.25em #fff;
        border-radius: 1em;
        background-color: inherit;
        box-sizing: border-box;
        cursor: pointer;
    }
    /* display the value */
    .slider:after {
        content: attr(data-value);
        position: absolute;
        top: -1.5em;
        width: 8em;
        line-height: 1em;
        margin-left: -1em;
        text-align: left;
        cursor: pointer;
    }
}